{{#each products}}
            <li class="item">
            <p class="text">{{id}}</p>
            <h2 class="title">{{name}}</h2>
            <p class="paragraph">{{price}}</p>
            <h3 class="caption">{{description}}</h3>
        </li>
  {{/each}}